/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
	padding:0;
	margin:0;
	background:#fff;
	padding:15px;
	/*background: -webkit-gradient(radial, center center, 0, center center, 460, from(#f9f9f9), to(#ccc));
	background: -webkit-radial-gradient(circle, #f9f9f9, #ccc);
	background: -moz-radial-gradient(circle, #f9f9f9, #ccc);
 	background: -ms-radial-gradient(circle, #f9f9f9, #ccc);*/
	color:#222028;
}

a {
	color:#777;
}

h1 {
	text-shadow: 1px 0px 1px #888;
	color:#222028;
	border-bottom:3px solid #222028;
}

body, input {
	font-family:arial;
	font-size:12pt;
}